.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: aqua; */
  }

  .header {
        display: flex;
        background-color: aqua;
  }

  .bodypart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }