.sigupContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding-top: 6%;
    gap: 20%;
    /* color: rgba(168, 60, 60, 0.523); */
    /* background-color: blue; */
}
.loginInformation, .signupFieldss{
    padding-top: 8%;
}

input {
    /* border: 2px solid black; */
    width: 130%;
    color: blue;
    background-color: rgb(214, 237, 245);
    margin-top: 5%;
    padding: 4%;
}

.button {
    background-color: rgb(103, 103, 253);
    width: 100%;
    cursor: pointer;
}

h2 {
    /* font-weight:; */
    margin-top: 5%;
    font-size: 300%;
}
h1 {
    font-weight: 100%;
}